{% extends "layout.html" %} {% block content %}

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="  1-column 2-columns  fixed-navbar">
    <section id="collapsible">
        <div class="row">
            <div class="col-xs-12 mt-1">
                <h1>FAQs</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="card">
                    <div id="headingCollapse1" class="card-header">
                        <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1"
                            class="card-title lead">PM2.5?</a>
                    </div>
                    <div id="collapse1" role="tabpanel" aria-labelledby="headingCollapse1"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is PM 2.5</h5>
                                <p>Mixture of solid particulate (particle) matter & liquid droplets found in the air.
                                </p>
                                <h5> What are the examples of PM2.5?</h5>
                                <p>Dust, dirt, smoke or ash, etc.</p>
                                <h5>What are the health conditions that can cause due to an increase in PM2.5 level?
                                </h5>
                                <p>Aggravated respiratory issues, lung damage, etc.</p>
                                <h5>What should I do to be safe from PM2.5?</h5>
                                <p>(1)Wear an air pollution mask before stepping out of the home.(2) Install an air
                                    purifier which removes indoor air particles.</p>
                                <h5>What I shouldn't do when there PM2.5 alert?</h5>
                                <p>(1)Avoid activities that make you breathe faster or more deeply.(2)Don’t smoke
                                    indoors or burn candles or incense sticks.</p>
                                <h5>What is the standard PM2.5 for a healthy life?</h5>
                                <p>0–8.9 μg/m3 is considered low as per 24-hour PM2.5</p>
                                <h5>What is the difference between PM 2.5 and 10?</h5>
                                <p>PM 2.5 is particulate matter 2.5 micrometres or less in diameter whereas PM 10 is
                                    particulate matter 10 micrometres or less in diameter. PM 2.5 is generally described
                                    as fine particles.</p>
                                <h5>Is PM2.5 greater than PM10?</h5>
                                <p>No. PM 2.5 is fine particulate matter (inhalable particles of respirable particles)
                                    which is 2.5 micrometers or less in diameter.</p>
                                <h5> Is PM2.5 harmful to health?</h5>
                                <p>PM2.5 (particles less than 2.5 micrometers in diameter) can penetrate deeply into the
                                    lung, irritate and corrode the alveolar wall, and consequently impair lung function.
                                </p>
                                <h5>How does PM2.5 affects people who have heart conditions?</h5>
                                <p>Breathing air induced with PM 2.5 can cause inflammatory effects on the heart,
                                    causing chronic cardiovascular problems.</p>
                                <h5>How to know if air quality conditions are better?</h5>
                                <p>(1)Pay Attention to the weather forecast. (2)Install the AQI (Air Quality Index) app
                                    to keep a check on the air quality.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse2" class="card-header">
                        <a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2"
                            class="card-title lead">PM10?</a>
                    </div>
                    <div id="collapse2" role="tabpanel" aria-labelledby="headingCollapse2"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is PM 10?</h5>
                                <p>Fine dust particles that are invisible to the naked eye.</p>
                                <h5>What are the examples of PM10?</h5>
                                <p>Road dust, fuel emission, smoke, etc.</p>
                                <h5>What are the health conditions that can cause due to an increase in PM 10 level?
                                </h5>
                                <p>Asthma attacks, bronchitis, high blood pressure, heart stroke, etc.</p>
                                <h5>What should I do to be safe from PM 10?</h5>
                                <p>Use the anti-pollution mask before leaving your premises.</p>
                                <h5>What I shouldn't do when there is PM10 alert?</h5>
                                <p>Do not contaminate your surroundings.</p>
                                <h5>What is the standard PM10 for a healthy life?</h5>
                                <p>0–16.4 μg/m3 is considered standard as per 24-hour PM10.</p>
                                <h5>What is the difference between PM 2.5 and 10?</h5>
                                <p>PM 2.5 is particulate matter 2.5 micrometers or less in diameter whereas PM 10 is
                                    particulate matter 10 micrometers or less in diameter. PM 2.5 is generally described
                                    as fine particles.</p>
                                <h5> Is PM10 greater than PM2.5?</h5>
                                <p>Yes. It is 10 micrometers or less in diameter.</p>
                                <h5>Is PM10 harmful to health?</h5>
                                <p>Particulate matter contains microscopic solids or liquid droplets that are so small
                                    that they can be inhaled and cause serious health problems.</p>
                                <h5>How does PM10 affects people who have heart conditions?</h5>
                                <p>Long-term exposure to particulate matter 10 can result in significant health problems
                                    including Increased respiratory symptoms, irritation of the airways, coughing or
                                    difficulty breathing, decreased lung function.</p>
                                <h5>How to know if air quality conditions are better?</h5>
                                <p>Keep a check on the air quality and weather forecasting.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse3" class="card-header">
                        <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3"
                            class="card-title lead">TEMPERATURE</a>
                    </div>
                    <div id="collapse3" role="tabpanel" aria-labelledby="headingCollapse3"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is the temperature?</h5>
                                <p>Higher temperature can result in better air quality.</p>
                                <h5>What are the examples of temperature?</h5>
                                <p>Thermal pollution etc.</p>
                                <h5> What are the health conditions that can cause due to an increase in temperature
                                    level?</h5>
                                <p>Respiratory infections, cardiac failure, stroke, etc.</p>
                                <h5>What should I do to be safe from temperature? </h5>
                                <p>Cover yourself properly to avoid sunburn.</p>
                                <h5>What I shouldn't do when there a temperature alert?</h5>
                                <p>Never step outside without a water bottle and an umbrella.</p>
                                <h5>What is the standard temperature for a healthy life?</h5>
                                <p>Owing to variations in humidity and climate, the standard temperature during summer
                                    is 23 to 25.5°C and in winters is 20 to 23.5 °C.</p>
                                <h5>How does temperature affect people who have heart conditions?</h5>
                                <p>An extremely important factor affecting exercise heart rate is temperature. Warmer
                                    temperatures cause the heart to beat faster and place considerable strain on the
                                    body.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse4" class="card-header">
                        <a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4"
                            class="card-title lead">HUMIDITY</a>
                    </div>
                    <div id="collapse4" role="tabpanel" aria-labelledby="headingCollapse4"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is humidity?</h5>
                                <p>The higher humidity level can result in better air quality.</p>
                                <h5>What are the examples of humidity?</h5>
                                <p>Poor ventilation system, mist, and fog, etc.</p>
                                <h5>What are the health conditions that can cause due to an increase in humidity level?
                                </h5>
                                <p>Exhaustion, fatigue, restlessness, damage to the skin, etc.</p>
                                <h5>What should I do to be safe from humidity?</h5>
                                <p>Drink lots of water to stay hydrated.</p>
                                <h5>What I shouldn't do when there is an alert on humidity level?</h5>
                                <p>Avoid being outside for too long.</p>
                                <h5>What is the standard of humidity for a healthy life?</h5>
                                <p>The ideal indoor humidity level must range between 40-60%.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse5" class="card-header">
                        <a data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5"
                            class="card-title lead">NOISE</a>
                    </div>
                    <div id="collapse5" role="tabpanel" aria-labelledby="headingCollapse5"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is noise pollution?</h5>
                                <p>An unpleasant sound that creates discomfort to the ears.</p>
                                <h5>What are examples of noise pollution?</h5>
                                <p>Vehicle, horns, loudspeakers, construction sites, etc.</p>
                                <h5> What all health conditions can be caused due to an increase in noise level?</h5>
                                <p>Elevated workplace or environmental noise can cause hearing impairment, tinnitus,
                                    hypertension, ischemic heart disease, annoyance, and sleep disturbance.</p>
                                <h5>What should I do to be safe from noise pollution?</h5>
                                <p>Know which noises can cause damage (those at or above 85 decibels).</p>
                                <h5>What I shouldn't do that can lead to noise pollution?</h5>
                                <p>Follow the Limits of Noise level</p>
                                <h5>What is the standard NOISE for a healthy life?</h5>
                                <p>45 decibels is considered to be a permissible noise level for the city.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse6" class="card-header">
                        <a data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse6"
                            class="card-title lead">HCHO(Formaldehyde)</a>
                    </div>
                    <div id="collapse6" role="tabpanel" aria-labelledby="headingCollapse6"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is HCHO?</h5>
                                <p>Known as formaldehyde, it is a poisonous, colorless, highly water-soluble gas with a
                                    pungent smell.</p>
                                <h5>What are the examples of HCHO?</h5>
                                <p>Building materials, Laundry Detergent, Hair Straightening Treatments, etc.</p>
                                <h5> What all health conditions can be caused due to increase in HCHO level?</h5>
                                <p>Watery eyes, burning sensations in the eyes, nose, and throat, coughing and skin
                                    irritation, etc.</p>
                                <h5>What should I do to be safe from HCHO?</h5>
                                <p>Use an air purifier</p>
                                <h5>What I shouldn't do when there HCHO alert?</h5>
                                <p>Do not invest in products that have a high concentration of HCHO.</p>
                                <h5>What is the standard HCHO for a healthy life?</h5>
                                <p>0.1 mg/m3 for 30-minute average concentration.</p>
                                <h5>How to know if air quality conditions are better?</h5>
                                <p>Check indoor air quality on AQI app.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse7" class="card-header">
                        <a data-toggle="collapse" href="#collapse7" aria-expanded="true" aria-controls="collapse7"
                            class="card-title lead">LIGHT</a>
                    </div>
                    <div id="collapse7" role="tabpanel" aria-labelledby="headingCollapse7"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is light pollution?</h5>
                                <p>Also known as photo pollution, It is exacerbated by excessive, misdirected or
                                    obtrusive uses of light.</p>
                                <h5>What are the examples of light?</h5>
                                <p>Light trespass, light clutter, artificial lights, etc.</p>
                                <h5> What all health conditions can be caused due to an increase in the light level?
                                </h5>
                                <p>Insomnia, depression, cancer, and cardiovascular disease, etc.</p>
                                <h5>What should I do to be safe from light pollution?</h5>
                                <p>Use low cost, energy efficient lights.</p>
                                <h5>What I shouldn't do when there is a light alert?</h5>
                                <p>Do not use lights, when you don’t need it in the room.</p>
                                <h5>What is the standard light for a healthy life?</h5>
                                <p>For light pollution, it varies from different space areas.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse8" class="card-header">
                        <a data-toggle="collapse" href="#collapse8" aria-expanded="true" aria-controls="collapse8"
                            class="card-title lead">VOC(Volatile Organic Compounds)</a>
                    </div>
                    <div id="collapse8" role="tabpanel" aria-labelledby="headingCollapse8"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is VOC?</h5>
                                <p>Organic chemicals that have a high vapor pressure at ordinary room temperature is
                                    commonly known as VOCs or Volatile Organic Compounds</p>
                                <h5>What are the examples of VOC?</h5>
                                <p>Wood preservatives, aerosol sprays, and moth repellents and air fresheners.</p>
                                <h5>What all health conditions can be caused due to the increase in VOC level?</h5>
                                <p>Eye, nose and throat irritation, frequent headaches, nausea</p>
                                <h5>What should I do to be safe from VOC?</h5>
                                <p>Refrain using chemical products.</p>
                                <h5>What I shouldn't do when there VOC alert?</h5>
                                <p>Do not invest in products that have a high concentration of VOC.</p>
                                <h5>What is the standard VOC for a healthy life?</h5>
                                <p>A vapor pressure >0.01mm Hg at 21ºC is an ideal case for low VOC.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse9" class="card-header">
                        <a data-toggle="collapse" href="#collapse9" aria-expanded="true" aria-controls="collapse9"
                            class="card-title lead">CO (Carbon Monoxide)</a>
                    </div>
                    <div id="collapse9" role="tabpanel" aria-labelledby="headingCollapse9"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is CO2?</h5>
                                <p>At room temperature, carbon dioxide is a colorless, odorless, faintly acidic-tasting,
                                    non-flammable gas.</p>
                                <h5>What are the examples of CO2?</h5>
                                <p>Cement production, deforestation</p>
                                <h5>What all health conditions can be caused due to increase in CO2 level?</h5>
                                <p>Breathing issues, headaches, etc.</p>
                                <h5>What should I do to be safe to avoid the building of a high level of CO2?</h5>
                                <p>Use exhaust fan during and after cooking meals.</p>
                                <h5>What I shouldn't do when there is a CO2 alert?</h5>
                                <p>Don’t smoke or lit incense sticks.</p>
                                <h5>What is the standard CO2 for a healthy life?</h5>
                                <p>350-1000 ppm is considered normal in occupied spaces with good air exchange.</p>
                                <h5>How to know if air quality conditions are better?</h5>
                                <p>Check indoor air quality on the app.</p>
                                <h5>What is CO?</h5>
                                <p>Carbon Monoxide is a colorless, odorless, and tasteless flammable gas that is
                                    slightly less dense than air.</p>
                                <h5>What are the examples of CO?</h5>
                                <p>Burning charcoal, running cars and the smoke from cigarettes</p>
                                <h5>What all health conditions can be caused due to an increase in the CO level?</h5>
                                <p>Brain damage, nervous system failure, heart failure</p>
                                <h5>What should I do to be safe from CO?</h5>
                                <p>Open windows to release the buildup gas trapped inside.</p>
                                <h5>What I shouldn't do when there is CO alert?</h5>
                                <p>Do not close the source of any ventilation.</p>
                                <h5>How does CO affect people who have heart conditions?</h5>
                                <p>Carbon Monoxide also causes direct damage to the heart muscle, separate from the
                                    effects of oxygen deprivation, which reduces the heart’s pumping capacity and
                                    permanently impairs cardiac function.</p>
                                <h5>How to know if air quality conditions are better?</h5>
                                <p>Check indoor air quality on the app.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse10" class="card-header">
                        <a data-toggle="collapse" href="#collapse10" aria-expanded="true" aria-controls="collapse10"
                            class="card-title lead">O3 (Ozone)</a>
                    </div>
                    <div id="collapse10" role="tabpanel" aria-labelledby="headingCollapse10"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is O3?</h5>
                                <p>It is a gas made of three oxygen atom and is a pale blue with a strong smell.</p>
                                <h5>What are the examples of O3?</h5>
                                <p>Ultraviolet Radiation</p>
                                <h5> What all health conditions can be caused due to an increase in O3 level?</h5>
                                <p>Chest pain, coughing, throat irritation, and congestion, etc.</p>
                                <h5>What should I do to be safe from O3?</h5>
                                <p>Install air purifier.</p>
                                <h5>What I shouldn't do when there is an O3 alert?</h5>
                                <p>Limit driving.</p>
                                <h5>What is the standard O3 for a healthy life?</h5>
                                <p>Exposure limit for ozone is 0.1 ppm (0.2 mg/m3)</p>
                                <h5>How to know if air quality conditions are better?</h5>
                                <p>Check indoor air quality on the app.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse11" class="card-header">
                        <a data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapse11"
                            class="card-title lead">AQI</a>
                    </div>
                    <div id="collapse11" role="tabpanel" aria-labelledby="headingCollapse11"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is AQI?</h5>
                                <p>Air Quality Index (AQI) is a term to define the quality of the air you breathe.</p>
                                <h5>What elements stand as AQI inside indoor premises?</h5>
                                <p>Poor upkeep of ventilation, heating and air-conditioning systems, and. Dampness and
                                    moisture damage due to leaks, flooding or high humidity.</p>
                                <h5>What elements stand as AQI on the outside of any premises?</h5>
                                <p>Particle matter, ground-level ozone, sulfur dioxide, nitrogen dioxide, carbon
                                    monoxide, etc.</p>
                                <h5>What all health conditions can be caused due to the increase in the AQI level?</h5>
                                <p>Respiratory disease, decreased lung function, shortened life span, etc.</p>
                                <h5>What should I do to be safe from AQI?</h5>
                                <p>Limit the time or intensity of your outdoor physical activity.</p>
                                <h5>What I shouldn't do when there AQI alert?</h5>
                                <p>Do not use pollution-emitting vehicles.</p>
                                <h5>What is the standard AQI for a healthy life?</h5>
                                <p>0-50 is considered to be a good AQI as per 24-hour AQI.</p>
                                <h5> How does AQI affects people who have heart conditions?</h5>
                                <p>Once small particles are in the lungs, they can affect the heart and blood vessels.
                                    It can cause serious problems, such as a heart attack for someone with heart
                                    conditions.</p>
                                <h5>How to know if air quality conditions are better?</h5>
                                <p>Pay Attention to the weather forecast. </p>
                                <h5>How will the awareness about the air quality help me?</h5>
                                <p>Understanding the difference between good air quality and bad air quality is
                                    essential these days. Being aware whether the air you’re breathing is bad for your
                                    health will help you take necessary precautions and keep you safe from any health
                                    issues. </p>
                                <h5>How does air pollution affect my health?</h5>
                                <p>Breathing polluted air puts you at a higher risk for asthma and other respiratory
                                    diseases. Pollution can also potentially damage the immune system, endocrine, and
                                    reproductive systems.</p>
                                <h5>What is air pollution?</h5>
                                <p>Air pollution can be defined as the presence of toxic chemicals or compounds present
                                    in the air which lower the quality of the air or cause detrimental changes to the
                                    quality of life.</p>
                                <h5>What does AQI (Air quality index) mean?</h5>
                                <p>Air quality index (AQI) is a numerical scale used for reporting day to day air
                                    quality with regard to human health and the environment. An increase in air quality
                                    index signifies increased air pollution and severe threats to human health.</p>
                                <h5>Why good air quality is important?</h5>
                                <p>We believe good air quality is fundamental to our well being. On average, a person
                                    inhales about 14,000 litres of air every day, and the presence of contaminants in
                                    this air can adversely affect people’s health. </p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse12" class="card-header">
                        <a data-toggle="collapse" href="#collapse12" aria-expanded="true" aria-controls="collapse12"
                            class="card-title lead">Pollution</a>
                    </div>
                    <div id="collapse12" role="tabpanel" aria-labelledby="headingCollapse12"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is pollution? </h5>
                                <p>The contamination of the surrounding environment by the addition of foreign/unwanted
                                    substances is known as pollution and anything which makes the surrounding
                                    environment unhealthy/unfit for the living is known as the pollution.</p>
                                <h5> What makes the air so polluted?</h5>
                                <p>Smoke from vehicles, chimneys, industries, burning of wood, plastic, coal, natural
                                    gas etc which causes the release of harmful toxic gases such as carbon monoxide,
                                    sulphur dioxide, nitrogen oxides etc in the environment. Ground level ozone and
                                    particulate matter are also the major reasons for air pollution. Even there are some
                                    natural causes as well which add more to pollution like forest fires, volcanic
                                    eruptions, and methane from the swamps are some of the natural occurrences which add
                                    more to the pollution.</p>
                                <h5>What are the causes & effects of air pollution?</h5>
                                <p>Pollution causes adverse effects on the environment and in turn to the living beings
                                    which are a part of the environment only. Air Pollution is posing a serious threat
                                    to both flora and fauna. Incurable respiratory diseases among animals, aorist
                                    rainfall, acid rain, global warming, depletion of ozone layer, the rise in
                                    temperature, withering of plants, drought-like conditions, the grimy appearance of
                                    buildings etc. are only because of air pollution.</p>
                                <h5>How many types of air pollutants are present in the air?</h5>
                                <p>The most abundant and harmful pollutants present in the air are particulate matter
                                    (PM 2.5 and PM 10), nitrogen dioxide, ozone, and sulphur dioxide.</p>
                                <h5>What is the particulate matter?</h5>
                                <p>Particulate matter such as PM10, PM2.5, PM1, and PM0.1 is defined as the fraction of
                                    particles with an aerodynamic diameter smaller than respectively 10, 2.5, 1 and 0.1
                                    µm (for your information: 1 µm = 1 millionth of a meter or 1 thousandth of a
                                    millimeter.)</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse13" class="card-header">
                        <a data-toggle="collapse" href="#collapse13" aria-expanded="true" aria-controls="collapse13"
                            class="card-title lead">AQI India Monitor</a>
                    </div>
                    <div id="collapse13" role="tabpanel" aria-labelledby="headingCollapse13"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What is AQI India and what do they do?</h5>
                                <p>AQI India is the first ever pollution control platform in India consistently working
                                    on ways to educate people with solutions that can lessen the impact of the impending
                                    disaster.</p>
                                <h5>What does the number in the AQI India map mean?</h5>
                                <p>The number in the AQI India map shows the real-time air quality index of the
                                    particular location. </p>
                                <h5>What are the various pollutants sensed by the AQI India pollution monitoring device?
                                </h5>
                                <p>Our monitoring device can detect invisible air particulate as small as PM 2.5 along
                                    with PM 10, temperature, humidity, and noise pollution. The sensors also retrieve
                                    complex data with the help of a camera that visualizes air pollutants of different
                                    forms like HCHO, No2, So2, O3, CO, and Co2.</p>
                                <h5>How different is the monitor from other pollution control monitors in the country?
                                </h5>
                                <p>AQI India monitor promises to provide real-time data of the air quality index that
                                    helps the user to gauge the quality of the air they are breathing along with
                                    precautionary measures.</p>
                                <h5>How do you decide where to place the monitors in different locations?</h5>
                                <p>We aim to cover every corner of the country by installing one monitor within the
                                    range of 2-3 km between each of them.</p>
                            </div>
                        </div>
                    </div>
                    <div id="headingCollapse14" class="card-header">
                        <a data-toggle="collapse" href="#collapse14" aria-expanded="true" aria-controls="collapse14"
                            class="card-title lead">Pollutants</a>
                    </div>
                    <div id="collapse14" role="tabpanel" aria-labelledby="headingCollapse14"
                        class="card-collapse collapse in" aria-expanded="true">
                        <div class="card-body">
                            <div class="card-block">
                                <h5>What are the major pollutants present in the air and what are their effects on our
                                    enviroment?</h5>
                                <p>Mentioned below are some major pollutants are constantly contributing to the air
                                    pollution which is a real public health and environmental problem that can lead to
                                    among other things like global warming, acid rain, and the deterioration of the
                                    ozone layer. </p>
                                <h5>What is PM 2.5 and how different it is from PM 10?</h5>
                                <p>Particulate matter 2.5 (PM2.5), refers to tiny particles or droplets in the air that
                                    are two and one-half microns or less in width. The difference between PM10 and PM2.5
                                    is only the size. Both PM 2.5 and PM 10 both are serious health concern since
                                    smaller particles can travel more deeply into our lungs and cause more harmful
                                    effects.</p>
                                <h5>What is the impact of vehicular pollution on urban air quality? </h5>
                                <p>The motor vehicle engine emits many types of pollutants including nitrogen oxides
                                    (NOx), volatile organic compounds (VOCs), carbon monoxide (CO), carbon dioxide
                                    (CO2), particulates, sulphur dioxide (SO2) and lead. These ingredients create an
                                    urban smog which has the capacity to irritate pose the most serious threat to human
                                    health by penetrating deep into the lungs. Vehicular pollutants can cause lung
                                    irritation and weaken the body's defenses against respiratory infections such as
                                    pneumonia and influenza.</p>
                                <h5>How do common air pollutants affect human health?</h5>
                                <p>Even healthy people can experience health impacts from the polluted air including
                                    respiratory irritation or breathing difficulties during exercise or outdoor
                                    activities. High air pollution levels can cause immediate health problems including,
                                    aggravated cardiovascular and respiratory illness, added stress to heart and lungs,
                                    which must work harder to supply the body with oxygen and damaged cells in the
                                    respiratory system. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    {% endblock %}