{% extends "layout.html" %} {% block content %}
<style>

</style>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="  1-column 2-columns  fixed-navbar">


    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">


            </div>
            <div>

                <div id='map' style='height:380px;' >
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
            <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

            <script>
                var OSM_URL = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                var OSM_ATTRIB = '&copy;  <a  href="http://openstreetmap.org/copyright">OpenStreetMap</a>  contributors';
                var osmLayer = L.tileLayer(OSM_URL, {
                    attribution: OSM_ATTRIB
                });
            
                var WAQI_URL = "https://tiles.waqi.info/tiles/usepa-aqi/{z}/{x}/{y}.png?token=_TOKEN_ID_";
                var WAQI_ATTR = 'Worldwide Air  Quality  Tiles  &copy;  baihAQI<</a>';
                var waqiLayer = L.tileLayer(WAQI_URL, {
                    attribution: WAQI_ATTR
                });
            
                var map = L.map('map').setView([30, 74], 4);
                map.addLayer(osmLayer).addLayer(waqiLayer);
            </script>
            </div>

            <div class="content-body">
                <div class="row match-height">
                    <div class="col-md-4 ">
                        <div class="px-2 py-3 row mb-0 mt-3">
                            <h1 class="text-lg-right text-bold-700 ">Explore The Air Quality</h1>
                            <h6 class=" text-sm-right  text-bold-700 ">Anywhere In The World</h6>
                        </div>
                    </div>
                    <form action="/searchT" method="post">

                        <div class="col-md-7 ">
                            <div class="px-2 py-3 row mb-0 mt-3">
                                <fieldset class="form-group position-relative no-border-top text-xs-center">
                                    <input type="text" required data-parsley-required="true" data-parsley-min="3" class="form-control form-control-lg input-lg no-border-top no-border-left no-border-right bottom-darken-4 " id="city" name="city" placeholder="Your country, city or location… Press Enter">
                                    <div class="form-control-position ">
                                        <i class="icon-search font-medium-4" type="submit"> 
                                        </i>

                                    </div>
                                </fieldset>


                            </div>
                        </div>

                    </form>

                </div>

                <!-- <form action="/" method="post">
                    <label for="text">Date: </label>
                    <input type="text" id="date" name="date">
                </form> -->
                <!-- Recent invoice with Statistics -->
                <div class="row match-height">
                    <div class="col-xl-4 col-lg-6">
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="card-title text-info ">Live City Ranking</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="media-list">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="static/app-assets/images/portrait/small/avatar-s-3.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">Cookie candy</h4>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="static/app-assets/images/portrait/small/avatar-s-6.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">Tootsie roll dessert </h4>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="static/app-assets/images/portrait/small/avatar-s-13.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">Lemon drops ice cream</h4>
                                            </div>
                                        </div>
                                        <div class="media">

                                            <div class="media-body">
                                                <button class="btn btn-warning btn-min-width mr-1 mb-1 btn-block" data-trigger="hover" data-original-title="Hover Triggered">See All Rankings</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--new section -->
                    <div class="col-xl-8 col-lg-6">
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="card-title text-danger">Latest News</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="media-list media-bordered">
                                        <div class="media">
                                            <span class="media-left">
                                <img class="media-object" src="static/app-assets/images/portrait/small/avatar-s-3.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">Cookie candy</h5>
                                            </div>
                                            <div class="media-body">
                                                <p>Hello</p>
                                            </div>


                                        </div>
                                        <div class="media">
                                            <span class="media-left">
                                <img class="media-object" src="static/app-assets/images/portrait/small/avatar-s-6.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">Tootsie roll dessert</h5>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <span class="media-left">
                                <img class="media-object" src="static/app-assets/images/portrait/small/avatar-s-15.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">Lemon drops ice cream</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Row match height end-->

                <!-- New Section Breath the clean air-->
                <div class="app-content content container-fluid">
                    <div class="content-wrapper">
                        <div class="content-header row">
                            <div class="row match-height">
                                <div class="card ">
                                    <div class="col-md-12 text-xs-center">
                                        <div class="px-2 py-3 row mb-0 mt-3">
                                            <h1 class=" light-blue text-bold-700 ">Latest News</h1>
                                            <h6 class=" text-bold-700 tag tag-danger ">Protect your air anytime, anywhere
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                {% for title in data %}

                                <div class="col-xl-4 col-md-6 col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <img class="card-img-top img-fluid" src="{{ title.urlToImage }}" alt="Card image cap">
                                            <div class="card-block">
                                                <h4 class="card-title">{{ title.source.name }}</h4>
                                                <p class="card-text">{{ title.description }} </p>
                                                <a href="{{title.url}}" target="blank" class=" btn btn-outline-pink ">Know More About</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.counter == 1 %} This is the First user {% endif %} {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////-->



</body>
{% endblock %}