{% extends "layout.html" %} {% block content %}


<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="  1-column 2-columns  fixed-navbar">
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="row match-height">
                    <div class="col-md-2">
                        <div class="px-2  row mb-0 mt-3">
                            <h2 class="text-lg-center text-bold-700 rainbow-text ">{{data.temperature}}</h2>
                            <h6 class=" text-sm-center  text-bold-700 ">Temperature</h6>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="px-2  row mb-0 mt-3">
                            <h2 class="text-lg-center text-bold-700 rainbow-text">{{data.aquius}}</h2>
                            <h6 class=" text-sm-center  text-bold-700 ">AQI US</h6>
                        </div>
                    </div>


                    <div class="col-md-4 ">
                        <div class="px-2 row mb-0 mt-3">
                            <h2 class="text-lg-center text-bold-700 rainbow-text">{{data.city if data.city else 'N/A'}}</h2>
                            <h6 class=" text-sm-center  text-bold-700 ">{{data.state}}</h6>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="px-2  row mb-0 mt-3">
                            <h2 class="text-lg-center text-bold-700 rainbow-text">{{data.aqichina}}</h2>
                            <h6 class=" text-sm-center  text-bold-700 ">AQI CN</h6>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="px-2  row mb-0 mt-3">
                            <h2 class="text-lg-center text-bold-700 rainbow-text">{{data.humidity}}</h2>
                            <h6 class=" text-sm-center  text-bold-700 ">Humidity</h6>
                        </div>
                    </div>




                </div>
                <div class="col-xl-12 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <h4 class="card-title text-xs-center rainbow-text">HEALTH RECOMMENDATIONS</h4>
                                <h3 class="card-text"> </h3>
                            </div>

                            <ul class="list-group list-group-flush">

                                <li class="list-group-item text-xs-center">
                                    <span class="tag tag-default tag-pill bg-danger float-xs-center">{{data.quality}}</span>
                                </li>


                            </ul>
                            <ul class="list-group list-group-flush text-xs-center">

                                <li class="list-group-item">
                                    <span class="tag tag-default tag-pill bg-danger float-xs-center">{{data.message}}</span>
                                </li>


                            </ul>
                            <ul class="list-group list-group-flush text-xs-center">

                                <li class="list-group-item">
                                    <span class="tag tag-default tag-pill bg-danger float-xs-center">{{data.message_outdoor}}</span>
                                </li>


                            </ul>
                            <ul class="list-group list-group-flush text-xs-center">

                                <li class="list-group-item">
                                    <span class="tag tag-default tag-pill bg-danger float-xs-center">{{data.message_window}}</span>
                                </li>


                            </ul>

                        </div>
                    </div>


                </div>



                <div class="row match-height">
                    <div class="row match-height ">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <h4 class="card-title text-xs-center">TOP CITIES</h4>
                                        <p class="card-text"> </p>
                                    </div>

                                    <ul class="list-group list-group-flush">
                                        {% for city in best_cities_ %}
                                        <li class="list-group-item">
                                            <span class="tag tag-default tag-pill bg-success float-xs-right">{{city.station.a}}</span> {{city.city }}
                                        </li>
                                        {% if loop.counter == 1 %} This is the First user {% endif %} {% endfor %}

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!--new section -->

                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <h4 class="card-title text-xs-center">TOP WORST CITIES</h4>
                                        <p class="card-text"> </p>
                                    </div>

                                    <ul class="list-group list-group-flush">
                                        {% for city in worst_cities_ %}
                                        <li class="list-group-item">
                                            <span class="tag tag-default tag-pill bg-danger float-xs-right">{{city.station.a}}</span> {{city.city }}
                                        </li>
                                        {% if loop.counter == 1 %} This is the First user {% endif %} {% endfor %}

                                    </ul>

                                </div>
                            </div>


                        </div>


                    </div>
                </div>





            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.js"></script>
<script>
    $(document).ready(function() {

        let reponse


        response.data = '{{final_data}}'
        console.log(response.data)

        let o3 = response.data.o3_values
        let pm10 = response.data.pm10_values
        let pm25 = response.data.pm25_values
        let uvi = response.data.uvi_values
        let day = response.data.day

        var densityCanvas = document.getElementById("densityChart");
        var densityCanvas2 = document.getElementById("densityChart2");
        var densityCanvas3 = document.getElementById("densityChart3");
        var densityCanvas4 = document.getElementById("densityChart4");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var densityData = {
            label: 'o3 values forecast',
            data: o3
        };
        var barChart = new Chart(densityCanvas, {
            type: 'bar',
            data: {
                labels: day,

                datasets: [densityData]
            }
        });

        var densityData2 = {
            label: 'pm10 values forecast',
            data: pm10

        };
        var barChart2 = new Chart(densityCanvas2, {
            type: 'bar',
            data: {
                labels: day,
                datasets: [densityData2]
            }
        });

        var densityData3 = {
            label: 'pm25 values forecast',
            data: pm25

        };
        var barChart3 = new Chart(densityCanvas3, {
            type: 'bar',
            data: {
                labels: day,
                datasets: [densityData3]
            }
        });

        var densityData4 = {
            label: 'uvi values forecast',
            data: uvi

        };
        var barChart4 = new Chart(densityCanvas4, {
            type: 'bar',
            data: {
                labels: day,
                datasets: [densityData4]
            }
        });

    })
</script>
{% endblock %}