{% extends "layout.html" %} {% block content %}

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="  1-column 2-columns  fixed-navbar">
    <div class="app-content content container-fluid">
        <div class="content-body">
            <div class="row match-height">
                <div class="col-md-12 ">
                    <div class="px-1 py-2 row mb-0 mt-3">
                        <h1 class="text-lg-center text-bold-700 ">Best Antivirus Air Purifier in India 2020</h1>
                        <h6 class=" text-sm-center">Polluted air poses a very high risk of respiratory disorders. Hence having air purifier at home is really a good idea, especially <br>if you have small babies and old members. There are several air purifiers to choose from that
                            range from different prices and features,<br> but as we know, one wants the best air purifier. To make your search easier, here’s a list of the best air purifiers in India at <br>cheaper prices offering numerous features that
                            try to lower pollutants floating in the air at home or office.</h6>
                    </div>
                </div>
            </div>
            <div class="row match-height">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/71qTPHi3qbL._SL1500_.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Mi Air Purifier with True HEPA Filter</h4>
                                <p class="card-text">Mi Air Purifier 2C comes with best in class CADR, True HEPA filter and real time air quality indicator.</p>
                                <a href="https://amzn.to/34EEUzR" class="btn btn-outline-deep-orange">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/514UdXjbI2L._SL1000_.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Blueair Classic 280i</h4>
                                <p class="card-text">Meant for room sizes of 280 sq. ft., the unique feature in the 'i' models is the presence of an air quality sensor that speeds up the fans automatically whenever it detects a drop in the air quality of the room.</p>
                                <a href="https://amzn.to/2MDZF4r" class="btn btn-outline-deep-orange">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/71OqH1EjNKL._SL1500_.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Philips Series 3000 Air Purifier</h4>
                                <p class="card-text">The Series 3000 AC3821 air purifier by Philips features a digital display to show you the current PM2.5 levels in the air. WIth a humidifying feature, it's helpful in increasing the humidity in the air by up to 60 percent.</p>
                                <a href="https://amzn.to/2VFtw0x" class="btn btn-outline-deep-orange">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row match-height">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/81Djr%2By7F7L._SL1500_.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Coway Anti-Virus Air-Purifier</h4>
                                <p class="card-text">Coway is a leading home & kitchen appliance brand loved by health & wellness seeking customers across 80+ countries. We strive to develop the highest quality products that make day-to-day living more healthy, efficient
                                    and convenient. Coway products are trusted by people all around the world and we continue to strive for excellence in everything we do. Today, Coway has become an essential part of homes seeking health & well-being.</p>
                                <a href="https://amzn.to/3ehOHyX" class="btn btn-outline-deep-orange">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/71l37O7OwnL._SL1500_.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Dyson Pure Cool Air Purifier</h4>
                                <p class="card-text">Packed with IoT features, voice commands, diffused air flow mode and more, the device is recommended for those who want a good-looking, feature-rich air purifier that performs well when the IAQ is in moderate to a slightly
                                    higher range. It features a sleek design, which sets it apart from most air purifiers of today. It also connects to the Dyson Link app, which doubles up as a remote and sports some additional features too. Equipped
                                    with a HEPA filter, which is constructed using glass borosilicate, it is capable of trapping particles as small as 0.1 microns. It has another filter made of activated carbon with Tris-coated graphite crystals that
                                    can trap harmful gases, household fumes, remove odour and formaldehyde.</p>
                                <a href="https://amzn.to/2BdKnhn" class="btn btn-outline-deep-orange">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/61Wkss05m-L._SL1500_.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Honeywell Air Touch-S8</h4>
                                <p class="card-text">The Air Touch S8 is capable of covering an area of 450 sq. ft. Although it supports app control, the buggy implementation of the app is a letdown. It’s better to control the air purifier from the device itself until there’s
                                    a software patch.</p>
                                <a href="https://amzn.to/2MhuAVo" class="btn btn-outline-deep-orange">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
{% endblock %}